body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.back {
  padding: 7px;
  background: #9fa9ad;
  border: 1px solid #444a4b;
  border-radius: 4px;
  cursor: pointer;
  margin: 0 5px;
}

.containerSearch,
.listContainer,
.formContainer {
  margin: 0 20px;
}

.flexContainer {
  display: flex;
  flex-direction: row;
}

.filterSection {
  margin: 0 5em 0 0;
}

.dropdown {
  margin: 0 0 0 -2em;
  font-size: 16px;
}

.searchButton {
  margin: 1.5em 0 3em 0;
}

.searchButton button {
  background-color: #008cba;
  border: none;
  color: white;
  padding: 8px 12px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
}

.formContainer {
  font-size: 16px;
}
